<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chute Coding Challenge</title>
    <link rel="stylesheet" type="text/css" href="style/chute.css" />
  </head>

  <body>
    <div id="chute">

    </div>


<!--templates -->
    <script src="scripts/jquery-2.1.1.js"></script>
    <script src="scripts/underscore.js"></script>
    <script src="scripts/backbone.js"></script>
    <script src="scripts/masonry.pkgd.min.js"></script>

    <script type="text/template" id="card-template">
        <% cards.each(function (card) { %>
          <div class="item">  
             <img src="<%= card.get('url') %>/fit/500x300">
          </div>
        <% }); %>
     </script>

     <script>
        var Cards = Backbone.Collection.extend({
          url: "https://api.getchute.com/v2/albums/aus6kwrg/assets?type=image&tags=surf&page=1&per_page=50",
          parse: function(data){
            return data.data;
          }
        });
        var cards = new Cards();

        var CardsIndex = Backbone.View.extend({
          $el: $('#chute'),
          className: "js-masonry",
          attributes: function(){
            return {"id": "cards-container"}
          },
          tagName: "div",
          template: _.template($('#card-template').html()),
          initialize: function(){
            this.listenTo(this.collection, "sync", this.render);
          }, 
          events:{'scroll':'loadmore','click .lightbox':'showLightBox'},


          render: function(){
            var renderContent = this.template({
              cards: this.collection
            });
            this.$el.html(renderContent); 
            return this;
          }, 
        });

       var Router = Backbone.Router.extend({
        initialize: function(options){
          this.$rootEl = options.$root
        },
        routes: { '': 'cardsIndex'},
        
        cardsIndex: function(){
          var collection = cards;
          collection.fetch();
          var view = new CardsIndex({
            collection: cards
          });
          this._swapView(view);
        },
        
        _swapView: function(view){
         this._currentView && this._currentView.remove();
         this._currentView = view; 
         this.$rootEl.html(view.render().$el);
        }
      });  
      var router = new Router({$root: $('#chute')})
      Backbone.history.start();
     </script>

      <script type="text/javascript">
       $( document ).ready(function() {
          var container = $('#cards-container');
          container.masonry({
              isAnimated:true,
              columnWidth:300,
              itemSelector:'.item'
          })
        });       
     </script>
  </body>
</html>



