body {
	background: rgba(231, 231, 231, 0.43);
}

#cards-container{
	width: 70%;
	margin: auto;
	margin-bottom: 20px;
}

.item {
    display: inline-block;
	background: white;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	border-radius: 3px;
	color: #333;
	border: none;
    width: 20%; 
}

.item img {
	margin: 0px;
	padding: 0px;
	display: block;
	width: 100%;
	max-width: 250px;
}


