<ul class='cards-container'>
  <% cards.each(function (card) { %>
    <li>
       <div class='col-xs-9'>     
           <text><%= board.escape("title") %></text>
          </a>
       </div>
       
      <div class='col-xs-3'>
      
      </div>  
    </li>
  <% }); %>
</ul>